<a href="https://colab.research.google.com/github/SaiKumarMundru/AI/blob/main/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
import numpy as np
import math as mt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error

In [3]:
data = pd.read_excel('/content/drive/MyDrive/AI/data.xlsx')
data.head()

   Unnamed: 0      L(T-3)      L(T-2)      L(T-1)        L(T)
0           1  5551.82208  4983.17184  4888.39680  5072.95872
1           2  5196.25980  5641.29720  7153.17732  7849.80504
2           3  6329.97504  6292.87560  5349.80160  5225.40936
3           4  5000.47452  4775.53968  6177.05676  6177.05676
4           5  6155.70120  6212.12976  7424.25264  7407.41760

In [7]:
def normalize(column):
    c_max, c_min = np.max(column), np.min(column)
    for i in range(len(column)):
        column.iloc[i] = (column.iloc[i] - c_min) / (c_max - c_min)
    return c_max, c_min
x1max, x1min = normalize(data['L(T-3)'])
x2max, x2min = normalize(data['L(T-2)'])
x3max, x3min = normalize(data['L(T-1)'])
ymax, ymin = normalize(data['L(T)'])
data.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

   Unnamed: 0    L(T-3)    L(T-2)    L(T-1)      L(T)
0           1  0.318003  0.119312  0.064412  0.121468
1           2  0.158090  0.497492  0.899988  1.000000
2           3  0.667975  0.871910  0.234645  0.169700
3           4  0.070036  0.000000  0.539855  0.470780
4           5  0.589596  0.825511  1.000000  0.860038

In [8]:
data.isnull().sum()

Unnamed: 0    0
L(T-3)        0
L(T-2)        0
L(T-1)        0
L(T)          0
dtype: int64

In [9]:
X = data [['L(T-3)', 'L(T-2)', 'L(T-1)']]
Y = data ['L(T)']
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.1, random_state=101)

In [10]:
m = [np.random.uniform(-10, 10) for i in range(xtrain.shape[1])]
c = np.random.uniform(-10, 10)
eeta = 0.1
epochs = 500

In [11]:

for _ in range(epochs):
    for i in range(xtrain.shape[0]):
        y, ypred = ytrain.iloc[i], sum([xtrain.iat[i,z] * m[z] for z in range(xtrain.shape[1])]) + c
        gradm = [-1 * xtrain.iat[i,j] * (y - ypred) for j in range(xtrain.shape[1])]
        gradc = -1 * (y - ypred)
        c = c - eeta * gradc
        for j in range(len(m)):
            m[j] = m[j] - eeta * gradm[j]
print(m, c)

[-0.5298008361133717, 0.27089353424519197, 0.9488163371089959] -0.008299940313484282

In [12]:

ytrainPred = []
for x in range(xtrain.shape[0]):
    ytrainPred.append(sum([xtrain.iat[x, z] * m[z] for z in range(xtrain.shape[1])]) + c)
ytestPred = []
for x in range(xtest.shape[0]):
    ytestPred.append(sum([xtest.iat[x, z] * m[z] for z in range(xtest.shape[1])]) + c)

In [13]:

xtrain['L(T-3)'] = xtrain['L(T-3)'] * (x1max - x1min) + x1min
xtrain['L(T-2)'] = xtrain['L(T-2)'] * (x2max - x2min) + x2min
xtrain['L(T-1)'] = xtrain['L(T-1)'] * (x3max - x3min) + x3min
ytrain = ytrain * (ymax - ymin) + ymin
xtest['L(T-3)'] = xtest['L(T-3)'] * (x1max - x1min) + x1min
xtest['L(T-2)'] = xtest['L(T-2)'] * (x2max - x2min) + x2min
xtest['L(T-1)'] = xtest['L(T-1)'] * (x3max - x3min) + x3min
ytest = ytest * (ymax - ymin) + ymin
ytrainPred = np.multiply(ytrainPred, (ymax - ymin)) + ymin
ytestPred = np.multiply(ytestPred, (ymax - ymin)) + ymin

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [14]:
MAE_Train = mean_absolute_error(ytrainPred, ytrain) #Testing MAE
MSE_Train = mean_squared_error(ytrainPred, ytrain) #Testing MSE
RMSE_Train = mean_squared_error(ytrainPred, ytrain) ** 0.5 #Testing RMSE
MAE_Test = mean_absolute_error(ytestPred, ytest) #Testing MAE
MSE_Test = mean_squared_error(ytestPred, ytest) #Testing MSE
RMSE_Test = mean_squared_error(ytestPred, ytest) ** 0.5 #Testing RMSE
print('Training Error :')
print('Mean Absolute Error :', MAE_Train)
print('Mean Squared Error :', MSE_Train)
print('Root Mean Squared Error :', RMSE_Train)
print('\nTesting Error :')
print('Mean Absolute Error :', MAE_Test)
print('Mean Squared Error :', MSE_Test)
print('Root Mean Squared Error :', RMSE_Test)

Training Error :
Mean Absolute Error : 0.05370863062556312
Mean Squared Error : 0.004485085607691218
Root Mean Squared Error : 0.06697078174615567

Testing Error :
Mean Absolute Error : 0.2048098081918569
Mean Squared Error : 0.041947057531585216
Root Mean Squared Error : 0.2048098081918569

In [15]:
xtrain['Y_Train'] = ytrain
xtrain['Y_Train_Prediction'] = ytrainPred
xtrain

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     L(T-3)    L(T-2)    L(T-1)   Y_Train  Y_Train_Prediction
2  0.667975  0.871910  0.234645  0.169700            0.096635
5  1.000000  1.000000  0.603692  0.257287            0.305586
4  0.589596  0.825511  1.000000  0.860038            0.851773
6  0.038909  0.000000  0.000000  0.000000           -0.028914
1  0.158090  0.497492  0.899988  1.000000            0.896635
3  0.070036  0.000000  0.539855  0.470780            0.466818
7  0.000000  0.457363  0.530136  0.508507            0.618598

In [16]:
xtest['Y_Test'] = ytest
xtest['Y_Test_Prediction'] = ytestPred
xtest

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     L(T-3)    L(T-2)    L(T-1)    Y_Test  Y_Test_Prediction
0  0.318003  0.119312  0.064412  0.121468          -0.083342

In [17]:
x1 = float(input('Enter load at T-3 hours : '))
x2 = float(input('Enter load at T-2 hours : '))
x3 = float(input('Enter load at T-1 hours : '))
x1Norm = (x1 - x1min) / (x1max - x1min)
x2Norm = (x2 - x2min) / (x2max - x2min)
x3Norm = (x3 - x3min) / (x3max - x3min)
yPred = x1Norm * m[0] + x2Norm * m[1] + x3Norm * m[2] + c
y = yPred * (ymax - ymin) + ymin
print('Load at T hour :', y)

Enter load at T-3 hours : 2
Enter load at T-2 hours : 1
Enter load at T-1 hours : 4
Load at T hour : 2.998257270140948